body{
  background-color: rgb(34, 34, 34);
}
.container-body {
  max-width: 400px;
  margin: auto;
  margin-top: 3rem;
}
.container-buttons{
  border-radius: 0 0 20px 20px;
  height: 400px;
  display: flex;
  justify-content: center;
  background-color: #2A2D37;
}
.buttons-content{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 300px;
}
button {
  cursor: pointer;
  color: #fff;
  width: 25%;
  height: 50px;
  border-radius: 100px 100px 100px 100px;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  background-color: RGB(70, 73, 81);
}
button:hover{
  opacity: 0.9;
}
.green-operator-color{
  color: #19ac3e;
}
.red-operator-color{
  color: #dd5858;
}